html {
    background: #f7f7f7;
}

body {
    font-family: 'Mulish', sans-serif;
    background: white;
    max-width: 1000px;
    margin: 0 auto;
}

header, footer {
    background: #333a40;
    color: white;
}

.product {
    border: 1px solid grey;
    width: 200px;
    margin: 5px;
    padding: 5px;
}

img {
    max-width: 100%;
}